@model SarahTizzard_WEBD3000_MyTunes_MVC.ViewModels.ArtistDetailsData
@using PagedList.Mvc;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(modelItem => modelItem.Artist)


        </dt>

        <dd>
            @Html.DisplayFor(modelItem => modelItem.Artist.Name)


        </dd>
        <dt>
            Albums
        </dt>

        @foreach (var item in Model.Albums)
        {

            <dd>
                @Html.DisplayFor(modelItem => item.Title)
            </dd>
        }
    </dl>
</div>

Page @(Model.Albums.PageCount < Model.Albums.PageNumber ? 0 : Model.Albums.PageNumber) of @Model.Albums.PageCount

@Html.PagedListPager(Model.Albums, page => Url.Action("Details", new { page }))
<br />

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Artist.ArtistId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
