@model SarahTizzard_WEBD3000_MyTunes_MVC.Models.MediaCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MediaCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Media Types
        </dt>

        @foreach (var item in Model.MediaTypes.OrderBy(item => item.Name))
        {

            <dd>
                @Html.DisplayFor(model => item.Name)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MediaCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
