@model PagedList.IPagedList<SarahTizzard_WEBD3000_MyTunes_MVC.Models.MediaCategory>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Media Category Index";
}

<h2>Media Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })


            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MediaCategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MediaCategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MediaCategoryId })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))